/* Agrega aqui tu CSS */

.uno  {
margin:3px;
padding:10px;
border: 2px solid red; 
height:240px;
width:200px;

}

.dos  {
margin:3px;
padding:10px;
border: 2px solid red; 
height:240px;
width:200px;

}
.tres  {
margin:3px;
padding:10px;
border: 2px solid red; 
height:240px;
width:200px;

}



