/* Agrega aqui tu CSS */

.uno  {
margin:0px  ;
padding:0px;
border: 2px solid red; 
height:240px;
width:200px;

}

.dos  {
margin:0px  ;
padding:0px;
border: 2px solid red; 
height:240px;
width:200px;

}
.tres  {
margin:0px;
padding:0px;
border: 2px solid red; 
height:240px;
width:200px;

}



